
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{margin: 0;
  padding: 0px;
  border:0;
  transition: 0.5s;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -webkit-overflow-scrolling: touch;

}

:root {
  --primaryColor: rgba(255, 255, 255, 1);
  --secondaryColor: rgba(240, 80, 174, 1);

  --gradientHighlight: rgba(240, 80, 174, 1);
  --gradientBase: rgba(147, 54, 253, 1);

  --backgroundColor: rgba(25, 9, 28, 1);

    --backgroundColorNoOpacity: rgba(25, 9, 28, 0);
        --backgroundColorMediumOpacity: rgba(25, 9, 28, 0.6);
}

body {
    font-family: 'Rubik', sans-serif;
  background-color: var(--backgroundColor);
}

a {
  color: var(--primaryColor);
      font-family: 'Rubik', sans-serif;
  text-decoration: none;
}
#header {
  height: 100px;
  width: 100%;
  background: linear-gradient( var(--backgroundColorMediumOpacity),  var(--backgroundColorNoOpacity));
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

}


.headerIconsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerIcon, .headerIconCenter {
  filter: invert(97%) sepia(0%) saturate(7500%) hue-rotate(17deg) brightness(105%) contrast(108%);
  height: 40px;
  width: 40px;
}

.headerIconCenter {
  margin: 0 10vw 0 10vw;
}


.videoBackgroundContainer {


  display: flex;
  justify-content: center;
    align-items: center;
}

.backgroundVido {
  height: 100vh;
top: 0px;

  position: fixed;
  z-index: -10;
}

.landingContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient( var(--backgroundColorNoOpacity),  var(--backgroundColor));
}

.balloon {
  width: 30vh;
  height: 30vh;
}

.mainButtonContainer {
  width: 180px;
  height:65px;
  border-radius: 32.5px;
  background: linear-gradient( 0.75turn, var(--gradientBase),  var(--gradientHighlight));
  display: flex;
  align-items: center;
  justify-content: center;
}
.separator {
  height: 100px;
}
.primaryText {
  color: var(--primaryColor);
  font-size: 23px;
  font-weight: 500px;
}


.bottomBarContainer {
  height: 80px;
  width: 100%;
  position: fixed;
  bottom:0px;
  background: linear-gradient( var(--backgroundColorNoOpacity),  var(--backgroundColor));
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.arrivalBottomText {
  color: var(--primaryColor);
  font-size: 34px;
  font-weight: 400;
}

.countdown {
  font-size: 20px;
  color: var(--primaryColor);
  font-weight: 300;
}
.frontContentContainer {
  background: var(--backgroundColor)
}
.descriptionContainer {
  background: var(--backgroundColor);
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.descriptionTitle{
  font-size: 35px;
  font-weight: 400;
  color: var(--primaryColor);
  text-align: center;
  margin: 1em;

}
.descriptionDescription {
  text-align: center;
  margin: 0 2em 0 2em;
}
.strongText {
  font-weight: 500;
  font-size: 20px;
}

.strongText {
  font-weight: 400;
  font-size: 20px;
  opacity: 0.8;
}

.layoutContainer {
  background: var(--backgroundColor);
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 4em;
}
.iconContainer {
  padding: 10px;
  background: rgba(255,255,255, 0.2);
  border-radius: 10px;

}
.informationTile {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 2em 1em 2em 1em;
}
.separatorLayout {
  width: 1.5em;
}
.layoutTitle {
  font-size: 22px;

}
.layoutsubTitle {
  font-size: 16px;
  opacity: 0.7;
}
