
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{margin: 0;
  padding: 0px;
  border:0;
  transition: 0.5s;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -webkit-overflow-scrolling: touch;

}

:root {
  --primaryColor: rgba(255, 255, 255, 1);
  --secondaryColor: rgba(240, 80, 174, 1);

  --gradientHighlight: rgba(240, 80, 174, 1);
  --gradientBase: rgba(147, 54, 253, 1);

  --backgroundColor: rgba(25, 9, 28, 1);

  --backgroundColorNoOpacity: rgba(25, 9, 28, 0);
  --backgroundColorMediumOpacity: rgba(25, 9, 28, 0.6);
}

body {
  overflow-x: hidden;
  font-family: 'Rubik', sans-serif;
  background-color: var(--backgroundColor);
}

a {
  color: var(--primaryColor);
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
}
#header {
  height: 100px;
  width: 100%;
  z-index: 100;
  background: linear-gradient( var(--backgroundColorMediumOpacity),  var(--backgroundColorNoOpacity));
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
backdrop-filter: blur(1px);
}

.headerIconsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerIcon, .headerIconCenter {
  filter: invert(97%) sepia(0%) saturate(7500%) hue-rotate(17deg) brightness(105%) contrast(108%);
  height: 40px;
  width: 40px;
}

.headerIconCenter {
  margin: 0 10vw 0 10vw;
}


.videoBackgroundContainer {


  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.backgroundVido {
  height: 100vh;
  top: 0px;

  position: fixed;
  z-index: -10;
}

.landingContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient( var(--backgroundColorNoOpacity),  var(--backgroundColor));
}

.balloonContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
width:30vh;
}
.balloon {
  width: 30vh;
  height: 30vh;
}

.mainButtonContainer {
  width: 180px;
  height:65px;
  border-radius: 32.5px;
  background: linear-gradient( 0.75turn, var(--gradientBase),  var(--gradientHighlight));
  display: flex;
  align-items: center;
  justify-content: center;
}
.separator {
  height:60px;
}
.primaryText {
  color: var(--primaryColor);
  font-size: 23px;
  font-weight: 500px;
}


.bottomBarContainer {
  height: 80px;
  width: 100%;
  position: fixed;
  bottom:0px;
  background: linear-gradient( var(--backgroundColorNoOpacity),  var(--backgroundColor));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  backdrop-filter: blur(1px);

padding-bottom: env(safe-area-inset-bottom);
}

.countdownContainer {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
width: 45%;
max-width: 600px
}
.arrivalBottomText {
  color: var(--primaryColor);
  font-size: 34px;
  font-weight: 400;
}

.countdown {
  font-size: 20px;
  color: var(--primaryColor);
  font-weight: 300;
  width: 100%;
  text-align: center;
}

#onScroll {
  display: flex;
  position:  absolute;
  margin-left: 1em;
width: 45%;
max-width: 600px;
transform: translateX(100vw);

align-items: center;
justify-content: center;
}
.frontContentContainer {
  background: var(--backgroundColor)
}
.descriptionContainer {
  background: var(--backgroundColor);
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.descriptionTitle{
  font-size: 35px;
  font-weight: 400;
  color: var(--primaryColor);
  text-align: center;
  margin: 1em;

}
.descriptionDescription {

  max-width: 800px;
  text-align: center;
  margin: 0 2em 0 2em;
}
.strongText {
  font-weight: 500;
  font-size: 20px;
}

.weakText {
  font-weight: 400;
  font-size: 20px;
  opacity: 0.8;
}

.layoutContainer {
  background: var(--backgroundColor);

  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 4em;
}


.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background: rgba(255,255,255, 0.2);
  border-radius: 5px;

}
.iconContainer > .headerIcon{
  width: 30px;
  height: 30px;
}

.hicardsLogo {
  width: 1.2em;
  height: 1.2em;
}
.PoweredBy {
  margin-left: auto;
   display: flex;
   align-items: center;
}
.informationTile {
  display: flex;
  width: 100%;
  max-width: 800px;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  margin: 1em 0 1em 0;
  padding: 1em 0 1em 0;
  cursor: pointer;
}
.informationTile:hover {
background: var(--backgroundColor);
filter: brightness(150%);
}
.separatorLayout {
  width: 1.5em;
}
.layoutTextContainer {
  width: 70%;

}

.layoutTitle {
  font-size: 22px;

}
.layoutsubTitle {
  font-size: 16px;
  opacity: 0.7;
}

.teamRow {
  display: flex;
  overflow: hidden;
}

.countersContainer {
  background: var(--backgroundColor);
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 4em;
}

.counterTextContainer {
  text-align: center;
  margin: 2em 1em 2em 1em;
}

.counter {
  font-size: 40px;
  font-weight: 500;

}
.counterDate {
  flex-direction: row!important;
  display: flex!important;
  align-items: center;
  justify-content: center;
}
.columnCounter {
  display: flex;
  flex-direction: column-reverse;
  align-items:  center;
  justify-content: center;
  margin: 0 10px 0 10px;
  width: 50px;
}
.countSeparator {
  opacity: 0.8;
  font-size: 60%;
}
.counterSubtitle {
  font-size: 16px;
  opacity: 0.7;
}

.teamIcon{
  border-radius: 50%;
  border: 6px solid var(--backgroundColor);
  width: 45px;
  height: 45px;
}

.teamSeparator {
  margin-right: -13px;
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 250px;
  width: 100%;
  background: var(--backgroundColor);
  padding-top: 10em;


}


.navBarFooter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.separatorBarFooter {
  width: 10vw;
}

.navBarFooterText {
  font-size: 18px;
  color: white;
}

.lineFooter {
  margin-top: 2em;
  width: 100%;
  height: 1px;
  background-color: grey;
  opacity: 0.2;
}

.footerTitle {
  font-size: 16px;
  opacity: 0.7;
  text-align: center;
}
